/*
 * Globals
 */
/* root document */
html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1e21+0,001038+100 */
  background: #1d1e21; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1d1e21 0%, #001038 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1d1e21 0%,#001038 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1d1e21 0%,#001038 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1e21', endColorstr='#001038',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

/* Color palette */
:root {
  --yellow: #fecf33;
  --light-orange: #fdbd39;
  --peach: #ee6723;
  --blue: #35a3db;
  --pink: #ff5587;
}
.primary-accent{
  color: #ff5587;
}
.secondary-accent{
  color: #35a3db;
}
/* Text styles */
html { font-size: 20px; }
p , body
{
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
}
.font-weight-bold{
  font-size: 1.25rem;
}
h1, h2, h3 {
  font-size: 2.4rem;
  font-family: 'Varela Round', sans-serif;
}
h4,h5,h6 {
  font-size: 1.4rem;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #35a3db;
}

::selection {
  color: white;
  background: #35a3db;
}
a {
  color: #444;
}
b,strong {
  font-size: 1.15rem;
}
a:focus,
a:hover {
  color: #35a3db;
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-decoration: none;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background: #00001e;
}
body {
  display: -ms-flexbox;
  color: #00001e;
  line-height: 2rem;
  position: relative;
}
main {
  background: white;
}


/*
 * Header
 */
#nav-menu{
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.07)
}
.navbar {
  background-color: #00001e;
}
.navbar.transparent{
  background-color: #00000000;
}
.masthead-brand img{
  margin-bottom: 0;
  max-height: 60px;
}
.nav-masthead .nav-link {
  padding: 0;
  margin: 0.5rem 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: white;
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #35a3db;
}
.nav-masthead .active:hover {
  color: #fff;
  border-bottom-color: #35a3db;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Sections
 */
.no-space-section{
  max-width: 100%;
  padding: 0;
}
.dark-blue-bg{
  background-color: #00001e;
  color: white;
  max-width: 100%;
}
section {
  padding: 14rem;
  padding: 5rem 0 5rem 0;
  margin: auto;
}

/*
 * Cover
 */
#cover{
  background-image: url(Embedded-Systems.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
#inner-cover {
  min-height:100vh;
  padding: 7rem 1.5rem 1rem 1.5rem;
  position: relative;
}
#cover-image{
  max-width: 80%;
}
#cover-text {
  text-shadow: none;
  max-width: 65%;
  margin-left: 20px;
  margin-bottom:200px;
}
.cover-heading {
  margin-bottom: 1rem;
}
.cover-button{
  font-size: 1.5rem;
  font-weight: bold;
}
.cover-footer{
  padding: 1rem 0rem;
  color: white;
}
.event-partner{
  max-height: 70px;
  max-width: 250px;
}

/*
 * Contact
 */

.contact-tile{
 position: relative;
 width:200px;
 height:200px;
}
.contact-tile:hover .contact-icon{
  transform: translate(-50%, -50%) scale(1.2);
}
/*
 * Footer
 */
.mastfoot {
  background-color: #111;
  color: rgba(255, 255, 255);
}

/*
 * Forms
 */
label {
  margin-left:
  padding: .375rem .75rem !important;
}
input, select {
  border-radius: 2rem !important;
}
input[type=file]{
  border: 0rem !important;
}

.button-primary,
.button{
  color:white;
  background-color: #ff5587;
  padding: 0.4rem 0.9rem;
  margin: 0 0.1rem;
  line-height: normal;
  border-radius: 2rem;
  border: 2px solid #ff5587;
}
.btn-primary:hover,
.btn-outline-primary:hover{
 background-color: #00000000;
 color: #ff5587;
 border-color: #ff5587;
}

/*
 * Site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Skill cards
 */

.skill {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.skill::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.skill-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
/*
 * Animations
*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to { opacity:1; } }

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



/*
 * Responsive Styling
 */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
 .cover-heading { font-size: 3rem; }
 html { font-size: 16px; }
  #cover-image{ max-height: 20vh; }
  #cover-footer{
   position: absolute;
   bottom: 20px;
   left: 0;
   width: 100%;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  html { font-size: 18px; }
  #cover-image{
    max-height: 30vh;
  }

  #about-us .right-bordered-col{
    border-right: 10px solid #35a3db;
    border-bottom: 0px;
    margin-bottom: 0;
    padding: 0;
  }
}
@media (max-width: 1200px) { 
  html { font-size: 20px; }
}

.overflow-hidden { overflow: hidden; }
